<div id="palm-dialog-content" class="palm-dialog-content">
	<div class="dialog-title">
		<span>New Page</span>
	</div>
	<div class="dialog-message">
		Enter a new URL (required) and title (optional)
	</div>
                                                                 
	
	<div class="palm-group unlabeled">
		<div class="palm-list">
			<div class="palm-row first">
				<div class="palm-row-wrapper">
					<div class="textfield-group" x-mojo-focus-highlight="true">
						<div class="title">
							<div class="label">
								URL
							</div>
							<div id="newItemURL" x-mojo-element="TextField"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="palm-row last">
				<div class="palm-row-wrapper">
					<div class="textfield-group" x-mojo-focus-highlight="true">
						<div class="title">
							<div class="label">
								Title
							</div>
							<div id="newItemTitle" x-mojo-element="TextField"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div x-mojo-element="Button" id='saveItemButton'></div>